# Time Analysis

- First we will create a pandas dataframe including the map, start and goal point and the average time of execution for the 3 algorithms. 
- The average time was calculated by using 5 samples for each algorithm.
- For each map we have 2 results. In the first one the start point is at the upper left side of the map and the goal is at the bottom right side of the map. The opssite for the second result.

- Same conditions.

- Ignore outliners.

map 5 y 7 iguales, lo omitimos

In [19]:
import pandas as pd

In [20]:
col = ['MAP', 'START_X','START_Y','END_X','END_Y','TIME_BFS', 'TIME_DFS','TIME_BUG2']
data =[
    
    [1,1,1,7,2,0.998,1.994,1.013],
    [1,7,2,1,1,0.998,3.323,1.977],
    [2,2,2,10,7,2.992,4.005,4.480],
    [2,10,7,2,2,2.490,4.960,5.987],
    [3,4,10,4,14,81.114,110.052,15.850],
    [3,4,14,4,10,78.102,49.366,11.996],
    [4,4,10,4,14,187.4548,148.477,606.814],
    [4,4,14,4,10,246.115,62.6105,929.015],
    [5,1,1,15,20,258.846,164.640,9.970],
    [5,15,20,1,1,461.383,412.822,745.433],
    [6,2,2,10,17,8.477,6.965,11.963],
    [6,10,17,2,2,8.31,10.950,10.973],
    [8,2,2,10,17,10.567,4.03,14.926],
    [8,10,17,2,2,8.965,10.962,1.994],
    [9,1,4,20,15,387.523,282.421,5.981],
    [9,20,15,1,4,511.363,315.934,4.985],
    [10,1,4,1,15,1011.231,1096.214,2721.211],
    [10,1,15,1,4,1061.381,695.345,2680.750],
    [11,1,1,14,20,470.004,114.156,8.968],
    [11,14,20,1,1,875.4655,611.467,8.003],
    [12,1,1,15,20,212.765,57.460,7.987],
    [12,15,20,1,1,412.8351,275.042,554.918]
    
      ]

In [21]:
df = pd.DataFrame(data,columns=col)
df

    MAP  START_X  START_Y  END_X  END_Y   TIME_BFS   TIME_DFS  TIME_BUG2
0     1        1        1      7      2     0.9980     1.9940      1.013
1     1        7        2      1      1     0.9980     3.3230      1.977
2     2        2        2     10      7     2.9920     4.0050      4.480
3     2       10        7      2      2     2.4900     4.9600      5.987
4     3        4       10      4     14    81.1140   110.0520     15.850
5     3        4       14      4     10    78.1020    49.3660     11.996
6     4        4       10      4     14   187.4548   148.4770    606.814
7     4        4       14      4     10   246.1150    62.6105    929.015
8     5        1        1     15     20   258.8460   164.6400      9.970
9     5       15       20      1      1   461.3830   412.8220    745.433
10    6        2        2     10     17     8.4770     6.9650     11.963
11    6       10       17      2      2     8.3100    10.9500     10.973
12    8        2        2     10     17    10.5670     4.0300     14.926
13    8       10       17      2      2     8.9650    10.9620      1.994
14    9        1        4     20     15   387.5230   282.4210      5.981
15    9       20       15      1      4   511.3630   315.9340      4.985
16   10        1        4      1     15  1011.2310  1096.2140   2721.211
17   10        1       15      1      4  1061.3810   695.3450   2680.750
18   11        1        1     14     20   470.0040   114.1560      8.968
19   11       14       20      1      1   875.4655   611.4670      8.003
20   12        1        1     15     20   212.7650    57.4600      7.987
21   12       15       20      1      1   412.8351   275.0420    554.918

Aqui se puede ver muy bien cómo es un greedy algorithm. es muy greedy decir voy a la meta directo. Funciona muy muy bien cuando no hay problema, si se atasca sí que tarda.